---
const redirectUrl = '/de/skills/e2e-testing'
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <link rel="canonical" href={redirectUrl} />
    <title>Weiterleitung...</title>
  </head>
  <body>
    <p>Weiterleitung zu <a href={redirectUrl}>{redirectUrl}</a>...</p>
  </body>
</html>
