@tailwind base;
@tailwind components;
@tailwind utilities;

a.button {
  @apply inline-block bg-white rounded-xl shadow-md px-6 py-2;
  @apply transition-shadow;
  @apply hover:shadow-xl;
  @apply border border-gray-200;
}

h1 {
  @apply text-xl font-bold;
}

/* Shiki code block styling */
pre {
  @apply overflow-x-auto p-4 rounded-lg;
}

pre > code {
  counter-reset: line;
}

pre > code > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits='2'] > .line::before {
  width: 1.25rem;
}

pre > code[data-line-numbers-max-digits='3'] > .line::before {
  width: 1.75rem;
}

.prose p code {
  @apply text-black bg-yellow-50 border border-black/10 rounded-md px-1 font-medium;
}

.prose p code:before {
  display: none;
}

.prose p code:after {
  display: none;
}
