---
import Head from '../layouts/Head.tsx';
import BaseLayout from '../layouts/BaseLayout.tsx';
import TodayILearnedPostsList from '../components/TodayILearnedPostsList.tsx';

export async function createCollection() {
  const allPosts = Astro.fetchContent('./today-i-learned/*.md')
    .sort((a, b) => b.published_at.localeCompare(a.published_at));
  return {
    paginate: false,
    route: '/today-i-learned',
    async props() {
      return {
        posts: allPosts,
      };
    },
  };
}

const {posts} = Astro.props;
---
<html lang="en">
  <Head>
    <title>Today I Learned</title>
  </Head>
  <BaseLayout>
    <article class="prose">
      <TodayILearnedPostsList posts={posts} /> 
    </article>
  </BaseLayout>
</html>

