---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
---

<Layout title="404 Not Found">
  <BaseLayout>
    <article class="prose mt-12">
      <h1>404: Not Found</h1>
      <p>Oops! Looks like you tried to visit a page that does not exist.</p>
      <p><a href="/">Go back to home</a></p>
    </article>
  </BaseLayout>
</Layout>
