---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
import Footer from '~/components/Footer.astro'
import Introduction from '~/components/Introduction.astro'
import { classNames } from '~/utils/classNames'
---

<Layout>
  <BaseLayout>
    <Introduction />

    <article class="prose lg:prose-lg mt-12">
      <h4>Freelance Work</h4>
      <p>
        As a freelancer, I'm open to new opportunities and projects. Whether
        you're a startup launching your first product, an established business
        modernizing your systems, or a non-profit tackling a tech challenge, I'd
        be happy to help bring your vision to life.
      </p>

      <p>
        Get in touch: <a href="mailto:hi@patwoz.de">hi@patwoz.de</a>
      </p>

      <h5 class="font-semibold">I worked for</h5>

      <div class="not-prose grid grid-col-2 sm:grid-cols-4 gap-4 auto-rows-fr">
        <a
          href="https://www.sap.com/index.html"
          aria-label="Go to website of SAP"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of SAP"
            src="/company/sap.svg"
            width="100"
            height="50"
          />
        </a>
        <a
          href="https://www.porsche.com/germany/"
          aria-label="Go to website of Porsche"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Porsche"
            src="/company/Porsche-Logo.webp"
            width="100"
            height="58"
          />
        </a>
        <a
          href="https://www.ibm.com/"
          aria-label="Go to website of IBM"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of IBM"
            src="/company/IBM_logo.svg"
            width="100"
            height="38"
          />
        </a>
        <a
          href="/work/stroeer"
          aria-label="View my work for Stroeer"
          class={classNames(
            'group relative min-h-24 flex flex-1 flex-col justify-center items-center pb-4',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Stroeer"
            src="/company/str-logo-white.svg"
            width="100"
            height="21"
          />
          <img
            class="mt-2"
            alt="Logo of t-online, a part of Stroeer"
            src="/company/t-online-desktop.327ab976.svg"
            width="80"
            height="17"
          />
          <span
            class={classNames(
              'absolute bottom-3 inline-flex items-center gap-1',
              'text-xs font-medium text-gray-500',
              'group-hover:text-gray-700 transition-colors',
            )}
          >
            View project
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-3 h-3 group-hover:translate-x-0.5 transition-transform"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span>
        </a>
        <a
          href="https://www.kicker.de"
          aria-label="Go to website of Kicker"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Kicker"
            src="/company/kicker.svg"
            width="100"
            height="32"
          />
        </a>
        <a
          href="https://www.abl.de"
          aria-label="Go to website of ABL"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of ABL"
            src="/company/abl.svg"
            width="70"
            height="28"
          />
        </a>
        <a
          href="https://www.enerparc.de"
          aria-label="Go to website of Enerparc"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Enerparc"
            src="/company/enerparc.svg"
            width="120"
            height="33"
          />
        </a>
        <a
          href="https://www.barmer.de"
          aria-label="Go to website of Barmer"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Barmer"
            src="/company/barmer.svg"
            width="110"
            height="33"
          />
        </a>
        <a
          href="https://www.mhp.com"
          aria-label="Go to website of MHP"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of MHP"
            src="/company/mhp.svg"
            width="100"
            height="40"
          />
        </a>
        <a
          href="https://finanzguru.de"
          aria-label="Go to website of Finanzguru"
          target="_blank"
          rel="noreferrer"
          class={classNames(
            'min-h-24 flex flex-1 flex-col justify-center items-center',
            'border border-gray-200 rounded-lg',
            'hover:border-gray-300 hover:shadow-md hover:scale-[1.02]',
            'transition-all duration-200',
          )}
        >
          <img
            alt="Logo of Finanzguru"
            src="/company/finanzguru.svg"
            width="50"
            height="50"
          />
        </a>
      </div>

      <h4>piparo.tech</h4>

      <p>
        Alongside two colleagues, I'm also growing <a href="https://piparo.tech"
          >piparo.tech</a
        >, an IT service company dedicated to providing tailored solutions to
        our clients' specific technology needs. We combine our extensive
        industry experience to not only offer exceptional services but also
        develop innovative products designed to solve real-world problems.
      </p>
      <p>
        Contact us: <a href="mailto:info@piparo.tech">info@piparo.tech</a>
      </p>
    </article>

    <Footer />
  </BaseLayout>
</Layout>
