---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
import Introduction from '~/components/Introduction.astro'
import { classNames } from '~/utils/classNames'

const text = Astro.url.searchParams.get('text') ?? ''
const codetype = Astro.url.searchParams.get('codetype') ?? 'qrcode'
---

<Layout title="QR Code Generator | Patrick Wozniak">
  <BaseLayout>
    <Introduction />
    <hr class="mt-8 mb-4" />

    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden">
      <div class="md:flex">
        <div class="w-full p-4">
          <form method="GET" class="mb-4">
            <h1 class="font-bold text-center text-2xl">Code Generator</h1>
            <p class="text-zinc-600 text-center">
              <a
                href="https://bun.sh"
                class="hover:underline"
                target="_blank"
                rel="noreferrer">bun.sh (typescript)</a
              >
              {' <-> '}
              <a
                href="https://webassembly.org/"
                class="hover:underline"
                target="_blank"
                rel="noreferrer">webassembly</a
              >
              {' <-> '}
              <a
                href="https://www.rust-lang.org/"
                class="hover:underline"
                target="_blank"
                rel="noreferrer">rust</a
              >
            </p>
            <p class="text-zinc-600 text-center mt-2">
              This demonstrates the usage of a compiled rust library into
              webassembly to be embedded into a node/bun server.
            </p>
            <div class="mt-8 mb-4">
              <input
                type="radio"
                id="codetype-qr"
                name="codetype"
                value="qrcode"
                checked={codetype === 'qrcode'}
              />
              <label for="codetype-qr" class="pl-2 pr-4">QR</label>
              <input
                type="radio"
                id="codetype-code128"
                name="codetype"
                value="code128"
                checked={codetype === 'code128'}
              />
              <label for="codetype-code128" class="pl-2 pr-4">Code128</label>
              <label
                class="mt-4 block text-gray-700 text-sm font-bold mb-2"
                for="url"
              >
                Enter URL or Text
              </label>
              <input
                name="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="url"
                type="text"
                placeholder="https://example.com"
                value={text}
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
            >
              Generate
            </button>
          </form>
          <div class="w-full flex flex-nowrap justify-center">
            <canvas
              id="my-canvas"
              data-text={text}
              data-codetype={codetype}
              class={classNames(
                codetype === 'qrcode' && 'w-full aspect-square',
                codetype === 'code128' && 'w-40 h-32',
              )}
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </BaseLayout>
</Layout>

<script>
  import bwip from 'bwip-js'

  const canvas = document.getElementById('my-canvas') as HTMLCanvasElement
  const text = canvas?.dataset.text
  const codetype = canvas?.dataset.codetype ?? 'qrcode'

  if (text && text.trim().length > 0) {
    bwip.toCanvas('my-canvas', {
      bcid: codetype,
      text: text,
      scale: 8,
      includetext: true,
      textxalign: 'center',
    })
    canvas.scrollIntoView({ behavior: 'smooth', block: 'center' })
  }
</script>
