---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
import Footer from '~/components/Footer.astro'
import Introduction from '~/components/Introduction.astro'
import ClientMarquee from '~/components/ClientMarquee.astro'
---

<Layout title="What I Built | Patrick Wozniak">
  <BaseLayout>
    <Introduction />

    <article class="prose lg:prose-lg mt-12">
      <h1>What I Built</h1>
      <ul>
        <li>
          <a
            href="https://github.com/patlux/react-native-bluetooth-state-manager"
            >react-native-bluetooth-state-manager</a
          >: Manage the bluetooth state of your device
        </li>
        <li>
          <a href="https://github.com/patlux/bun-sqlite-migrations"
            >bun-sqlite-migrations</a
          >: Migration management for bun.sh
        </li>
        <li>
          <a href="https://github.com/patlux/react-native-app-state"
            >react-native-app-state</a
          >: A declarative way to use react-native's AppState
        </li>
        <li>
          <a href="https://github.com/patlux/expo-cli-docker-images"
            >expo-cli-docker-images</a
          >: Docker images for expo-cli
        </li>
        <li>
          <a href="https://github.com/patlux/dotfiles">dotfiles</a>: dotfiles
          for my personal macos setup
        </li>
        <li>
          <a href="https://github.com/patlux/react-supercluster"
            >react-supercluster</a
          >: react hook for mapbox's supercluster library
        </li>
        <li>
          <a href="https://github.com/patlux/react-query-cache-persistent"
            >react-query-cache-persistent</a
          >: Synchronous storage for TanStack Query
        </li>
        <li>
          <a href="https://github.com/patlux/smtp2http">smtp2http</a>: Forwards
          incoming mails to a provided HTTP REST endpoint
        </li>
        <li>
          <a href="https://github.com/patlux/patwoz-de">patwoz-de</a>: my
          personal website
        </li>
        <li>
          <a href="https://github.com/patlux/node-cec">node-cec</a>: cec-client
          wrapper in nodejs
        </li>
        <li>
          <a href="https://github.com/patlux/prettier-config">prettier-config</a
          >: My personal Prettier config
        </li>
        <li>
          <a href="https://github.com/patlux/nixos-config">nixos-config</a>: My
          NixOS configuration based on flakes
        </li>
      </ul>
    </article>

    <ClientMarquee />

    <Footer />
  </BaseLayout>
</Layout>
