---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
import Footer from '~/components/Footer.astro'
import Introduction from '~/components/Introduction.astro'
import ClientMarquee from '~/components/ClientMarquee.astro'
---

<Layout title="What I Use | Patrick Wozniak">
  <BaseLayout>
    <Introduction />

    <article class="prose lg:prose-lg mt-12">
      <h1>What I Use</h1>
      <ul>
        <li>
          <a href="https://mailinabox.email">mailinabox</a>: Running a self
          hosted <strong>mail server</strong> on a <a
            href="https://www.ovhcloud.com/de/vps/">5 EUR vps</a
          >
        </li>
        <li>
          <a href="https://miniflux.app">miniflux</a>: Running a self hosted
          <strong>rss server</strong> on a <a
            href="https://vserver.site/de/vserver_kvm_frankfurt.html"
            >3 EUR vps</a
          >
        </li>
        <li>
          <a href="https://docs.hyperion-project.org">hyperion</a>: DIY version
          of "Philips Hue" on my tv (<a
            href="https://www.youtube.com/watch?v=W870SRqGd_o">See my video</a
          >)
        </li>
        <li>
          <a href="https://www.home-assistant.io">Home Assistant</a>: Home
          Automation Tool to control my smart home devices in my home
        </li>
        <li>
          <a href="https://www.anycubic.com/products/anycubic-i3-mega-s"
            >ANYCUBIC I3 Mega S 3D Printer</a
          >: To print 3d stuff
        </li>
      </ul>
    </article>

    <ClientMarquee />

    <Footer />
  </BaseLayout>
</Layout>
