---
import Menu from './Menu.astro'
---

<Menu />

<main
  class="xl:pl-72 bg-warm-50 dark:bg-dark-bg pt-8 pb-20 xl:py-20 min-h-screen"
>
  <div class="px-6 w-full sm:max-w-2xl md:max-w-4xl mx-auto">
    <slot />
  </div>
</main>
