---
import Menu from './Menu.astro'
---

<Menu />

<main class="xl:pl-72 bg-white dark:bg-zinc-900 pt-8 pb-20 xl:py-20">
  <div class="px-6 w-full sm:max-w-2xl md:max-w-4xl mx-auto">
    <slot />
  </div>
</main>
