---
import Layout from '~/layouts/Layout.astro'
import BaseLayout from '~/components/BaseLayout.astro'
---

<Layout title="404 Nicht gefunden" lang="de">
  <BaseLayout>
    <article class="prose mt-12">
      <h1>404: Nicht gefunden</h1>
      <p>Ups! Diese Seite existiert nicht.</p>
      <p><a href="/de">Zurück zur Startseite</a></p>
    </article>
  </BaseLayout>
</Layout>
