---
import Head from './Head.tsx';
import BaseLayout from './BaseLayout.tsx';
const { content } = Astro.props;
---
<html lang="en">
  <Head>
    <title>{content.title}</title>
  </Head>
  <BaseLayout>
    {content}
    <article class="prose">
      <slot />
    </article>
  </BaseLayout>
</html>

